<form class="create-form" action="/createpost" method="post">
  <h1>Create a Post:</h1><br>
  <input class="create-text-box form-box" type="text" name="title" placeholder="Title"><br>
  <label>Content:</label><br>
  <textarea class="form-box" name="name" rows="5" cols="40" name="content"></textarea><br>
  <label>Tags:</label><br>
  <input class="form-box create-text-box" type="text" name="tags" placeholder="Enter Tags here, start them with a '#'"><br>
  <input type="submit" value="Create Post">
</form>
