<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <title>grapevine</title>
  </head>
  <body>

    <nav>
      <a class="nav-links left-links more-right" href="/">Home</a>
      <%if session[:user_id]%>
      <a class="nav-links left-links" href="/createpost">Post</a>
      <%end%>
      <a id="logo" href="/">grapevine</a>
      <%if session[:user_id]%>
      <a class="nav-links check-user a-little-off" href="/Logout">Logout</a>
      <%else%>
      <a class="nav-links check-user a-little-off" href="/signup">Sign Up</a>
      <a class="nav-links check-user" href="/login">Log In</a>
      <%end%>
      <form action="/search" method="post">
        <input id="search-bar" type="text" placeholder="Search Tags" name="searchtext">
      </form>
    </nav>
    <%=yield%>
    <footer><i id="copyright"></i></footer>
  </body>
</html>
