body {
  font-family: 'Cabin', sans-serif;
}
nav {
  top: 0;
  position: sticky;
  margin-top: -8px;
  margin-left: -8px;
  width: 101.2%;
  padding-bottom: 4%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: white;
}

.nav-links {
  text-decoration: none;
  color: #6441a4;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 17px;
  padding-bottom: 1.1%;
  transition: border .2s;
}
.left-links {
  float: left;
}

#logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  position: absolute;
  left: 42%;
  top: 12%;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #6441a4;
  padding: 0 15px;
}

#search-bar {
  position: absolute;
  margin-top: 0.8%;
  right: 20%;
  border-radius: 4px;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .5rem;
  background-color: rgb(240, 240, 240);
  transition: background .25s;
  width: 14%;
}
#search-bar:focus {
  background-color: white;
  border-color: #6441a4;
  outline:0;
}
.check-user {
  float: right;
  padding: 0 20px;
  right: 10%;
  padding-bottom: 1.1%;
}
a:nth-child(6) {
  margin-right: 5px !important;
}
.nav-links:hover {
  border-bottom: 2px solid #6441a4;
}
#top-header-signup {
  text-align: center;
  width: 94%;
}
#signup-grid {
  display: grid;
  grid-template-areas:
  'left right'
  'left right'
  'left right'
  'left right';
  width: 80%;
  margin-left: 15%;

}
#how-to {
  grid-area: left;
  width: 45%;
}
#user-data {
  grid-area: right;
  width: 45%;
}
.form-box {
  border-radius: 3px;
  background-color: rgb(240, 240, 240);
  transition: background .25s;
}
.form-box:focus {
  background-color: white;
  border-color: #6441a4;
  outline:0;
}
