<div id="signup-grid">
  <section id="how-to">
    <div id="f-name-description">
      <h1>Enter your First Name</h1>
      <p></p>
    </div>
  </section>
  <section id="user-data">

    <form action="/login" method="post">
      <label>First Name</label>
      <input type="text" name="first_name"><br>
      <label>Last Name</label>
      <input type="text" name="last_name"><br>
      <label>Email</label>
      <input type="text" name="email"><br>
      <label>Age</label>
      <input type="number" name="age"><br>
      <label>Password</label>
      <input type="password" name="password"><br>
      <p><input type="submit" value="Submit"></p>
    </form>
  </section>
</div>
<h1>Log In:</h1>

<!--
t.string :first_name
t.string :last_name
t.string :user_name
t.string :email
t.string :password
-->
